* {
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.canvas {
  image-rendering: pixelated;
  aspect-ratio: 2/3;
  border: 1px solid red;
  width: 100%;
}

.ui {
  border: 1px solid blue;
  flex-grow: 1;
}
