@font-face {
  font-family: "Apple";
  src: url("./font.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none;
}

/* Prevent elastic scrolling on game page. */
html {
  overflow: hidden;
}

body {
  margin: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #e6cea0;
}

body * {
  font-family: "Apple", serif;
  max-width: 600px;
  color: #000;
}

#frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#viewport {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

#canvas {
  image-rendering: pixelated;
}

#controls {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
}

#controls > div {
  border: 2px solid transparent;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 30pt;
}

#controls > .selected {
  border: 2px solid black;
}

h1 {
  margin: 12px;
}

h3 {
  color: #f0003c;
  margin-bottom: 8px;
}

p {
  font-size: 0.8em;
  line-height: 1rem;
}

#about {
  margin-top: auto;
  text-decoration: unset;
  margin-bottom: 16px;
}
